@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #fa55f1, #b361fa) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    /*background: white !important;*/
    background-image: url(../images/masumthebot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    min-width: 35vh;
    width: 35%;

    border-radius: 1rem;
    z-index: 20;
    backdrop-filter: blur(2rem);
    display: flex;
    animation: transitionIn 1s;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
    z-index: 0;
    height: 7rem;
    width: 7rem;
    position: absolute;
    border-radius: 70%;
    animation: rotateIn 2s ease-out;
}

.circle1 {
    background-image: url(../images/masumthebot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 5%;
    left: 10%;
}

.circle4 {
    background-image: url(../images/masum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 40%;
    left: 10%;
}

.circle5 {
    background-image: url(../images/genie.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 75%;
    left: 10%;
}

.circle2 {
    background-image: url(../images/future_me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20%;
    right: 10%;
}

.circle3 {
    background-image: url(../images/Masum_300x400.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 60%;
    right: 10%;
}


/*.dashboard {*/
/*    height: 80vh;*/
/*    width: 20%;*/
/*    border-radius: 2rem 0 0 2rem;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background: linear-gradient(*/
/*            to right bottom,*/
/*            rgba(255, 255, 255, 0.5),*/
/*            rgba(255, 255, 255, 0.2)*/
/*    ) !important;*/
/*}*/

/*.bot {*/
/*    height: 125px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.bot img {*/
/*    animation: bot_rotate 1s ease-out;*/
/*}*/

/*.bot h3 {*/
/*    font-family: "Poppins", sans-serif;*/
/*    font-weight: 500;*/
/*    font-size: 20px;*/
/*}*/

/*.bot p {*/
/*    font-family: "Poppins", sans-serif;*/
/*    font-weight: 300;*/
/*    font-size: 13px;*/
/*}*/

.chat-section {
    height: 80vh;
    width: 100%;
    /* background: aqua; */
    border-radius: 0 2rem 2rem 0;
}

.chat-view {
    padding: 1rem;
    max-height: 85%;
    margin-top: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-view::-webkit-scrollbar {
    display: none;
}

.bot-container,
.input-container {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    animation: fadeIn 1s ease-in-out;
}

.bot-msg {
    float: left;
    /*background-color: rgb(250, 85, 241);*/
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    border-radius: 0 12px 12px 12px;
    padding: 15px;
    text-align: justify;
    overflow: auto;
}

.input-msg {
    float: right;
    /*background-color: rgb(86, 79, 255);*/
    background-color: rgb(255, 248, 220);
    color: rgb(0, 0, 0);
    border-radius: 12px 0 12px 12px;
    padding: 15px;
    text-align: justify;
    overflow: auto;

}

.type-section {
    position: absolute;
    bottom: 2%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.type-section input {
    border: none;
    outline: none;
    width: 70%;
    bottom: 2%;
    height: 2.2rem;
    border-radius: 5rem;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5)
    ) !important;
    padding: 0 20px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes rotateIn {
    from {
        opacity: 0.3;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(720deg);
    }
}

@keyframes bot_rotate {
    from {
        opacity: 0;
        transform: rotate(0);
    }
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
